<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href=@{css/style.css}>
    <link rel="stylesheet" href="../static/css/sidebar.css" th:href=@{css/sidebar.css}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



</head>
<title>Sever error</title>
<body class="body">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#F1522F">MCGS</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/student}">Students</a></li>
            <li><a th:href="@{/course}">Courses</a></li>
            <li><a th:href="@{/marks}">Marks</a></li>
            <li><a th:href="@{/teacher}">Teachers</a></li>
            <li><a th:href="@{/registration}" sec:authorize="hasAuthority('ADMIN')">Add user</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right ">

            <li sec:authorize="isAuthenticated()"><a href="#"> <span class="glyphicon glyphicon-user"  > <span sec:authentication="principal.firstName"></span></span></span></a></li>
            <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

        </ul>

    </div>
</nav>
<br>
<br>
<br>



    <div class="m-3">
        <h1>Sorry, We're experiencing server issue please try later </h1>
    </div>


</body>
</html>