<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Liste of students</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href=@{css/style.css}>
    <link rel="stylesheet" href="../static/css/sidebar.css" th:href=@{css/sidebar.css}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



</head>
<body class="body">

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MCGS</a>
        </div>

        <ul class="nav navbar-nav">

        </ul>
        <ul class="nav navbar-nav navbar-right ">

            <li sec:authorize="isAuthenticated()"><a href="#"> <span class="glyphicon glyphicon-user"  > <span sec:authentication="principal.firstName"></span></span></span></a></li>
            <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

        </ul>

    </div>
</nav>
<br>

<br>

<div class="sidebar">
    <a class="active" href="/">Home</a>
    <a th:href="@{/student}">Students</a>
    <a th:href="@{/course}">Courses</a>
    <a th:href="@{/marks}">Markses</a>
    <a th:href="@{/teacher}" >Teachers</a>
    <a th:href="@{/registration}" sec:authorize="hasAuthority('ADMIN')">Add user</a>
</div>
<div class="content">



    <div sec:authorize="isAuthenticated()">
        Authenticated user roles:
        Logged user: <span sec:authentication="principal.firstName" ></span> <span sec:authentication="principal.lastName" ></span>
        Roles: <span sec:authentication="principal.authorities"></span>
    </div>
</div>

</body>
</html>