<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Liste of students</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href=@{css/style.css}>
    <link rel="stylesheet" href="../static/css/sidebar.css" th:href=@{css/sidebar.css}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



</head>
<body class="body">


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#F1522F">MCGS</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/student}">Students</a></li>
            <li><a th:href="@{/course}">Courses</a></li>
            <li><a th:href="@{/marks}">Marks</a></li>
            <li><a th:href="@{/teacher}">Teachers</a></li>
            <li><a th:href="@{/registration}" sec:authorize="hasAuthority('ADMIN')">Add user</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right ">

            <li sec:authorize="isAuthenticated()"><a href="#"> <span class="glyphicon glyphicon-user"  > <span sec:authentication="principal.firstName"></span></span></span></a></li>
            <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

        </ul>

    </div>
</nav>
<br>
<br>
<br>


    <div class="panel panel-success">
        <div class="panel heading">Lest of students</div>

        <div class="panel-body">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
                <li><a data-toggle="tab" href="#menu1">Classes</a></li>
                <li><a data-toggle="tab" href="#menu2">Grading</a></li>
            </ul>

            <div class="tab-content">




                <div id="home" class="tab-pane fade in active">

                    <div class="col-xs-3">
                        <label class="control-label" for="id"> Student ID :</label>
                        <span class="form-control" id="id"  th:text="*{student.studentId}"  ></span>
                    </div>

                    <div class="col-xs-3">
                        <label class="control-label" for="firstName"> First Name </label>
                        <span class="form-control" id="firstName"  th:text="*{student.firstName}"  ></span>
                    </div>

                    <div class="col-xs-3">
                        <label class="control-label" for="lastName"> Last Name </label>
                        <span  class="form-control" id="lastName" th:text="*{student.lastName}" ></span>
                    </div>

                    <div class="col-xs-6">
                        <label class="control-label" for="address"> Address </label>
                        <span id="address" class="form-control" th:text="*{student.adress}" ></span>
                    </div>

                    <div class="col-xs-3">
                        <label class="control-label" for="city"> City </label>
                        <span id="city" class="form-control" th:text="*{student.city}" ></span>
                    </div>
                    <br/>

                    <div class="col-xs-3">
                        <label class="control-label" for="tel"> Phone number </label>
                        <span type="tel" id="tel" class="form-control" th:text="*{student.telephone}" ></span>

                    </div>
                    <div class="col-xs-3">
                        <label class="control-label" for="gender"> Phone number </label>
                        <span type="tel" id="gender" class="form-control" th:text="*{student.type}" ></span>

                    </div>
                    <br/>
                    <div class="col-xs-3">
                        <label class="control-label" for="dob"> Date of births </label>
                        <span type="date" id="dob" class="form-control" th:text="*{student.dateOfBirth}"></span>
                    </div>
                    <div class="col-xs-6">
                        <label class="control-label" for="email"> Email </label>
                        <span type="email" id="email" class="form-control" th:text="*{student.email}" ></span>

                    </div>
                    <br/>

                    <div class="col-sm-6 col-sm-offset-3" style="margin-top:50px">
                    <a th:href="@{/update(id=${student.studentId})}"><input type="button" class="form-control btn btn-success" value="Edit student"></span></a>
                    </div>

                    </div>
                <div id="menu1" class="tab-pane fade">

                    <div class="panel-body">
                        <table class="table">
                        <thead class="thead">
                        <tr>
                            <th scope="col">Marks ID</th>
                            <th scope="col">Course ID</th>
                            <th scope="col">Course Name</th>
                            <th></th>

                        </tr>
                        </thead>

                            <tr th:each="s:${marksList}">
                                <td th:text="${s.marksId}" > </td>
                                <td th:text="${s.cs.courseId}" > </td>
                                <td th:text="${s.cs.courseName}" > </td>
                                <td><a th:href="@{/updateMarks(id=${s.marksId})}"><span class=" btn-link">Edit Marks</span></a></td>
                            </tr>
                        </table>

                    </div>



                </div>


                <div id="menu2" class="tab-pane fade">

                    <div class="panel-body">
                        <table class="table">
                            <thead class="thead">
                            <tr>
                                <th scope="col">Course</th>
                                <th scope="col">Marks 1</th>
                                <th scope="col">Marks 2 ID</th>
                                <th scope="col">Grade</th>
                                <th></th>

                            </tr>
                            </thead>

                            <tr th:each="s:${marksList}">
                                <td th:text="${s.cs.courseName}" > </td>
                                <td th:text="${s.marks1}" > </td>
                                <td th:text="${s.marks2}" > </td>
                                <td th:text="${s.grade()}" > </td>
                                <td><a th:href="@{/updateMarks(id=${s.marksId})}"><span class=" btn-link">Edit</span></a></td>
                            </tr>
                        </table>

                    </div>
                </div>



        </div>

    </div>
</div>

</body>
</html>