<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <title>Liste of students</title>

    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href=@{css/style.css}>
    <link rel="stylesheet" href="../static/css/sidebar.css" th:href=@{css/sidebar.css}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



</head>
<body class="body">


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#F1522F">MCGS</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/student}">Students</a></li>
            <li><a th:href="@{/course}">Courses</a></li>
            <li><a th:href="@{/marks}">Marks</a></li>
            <li><a th:href="@{/teacher}">Teachers</a></li>
            <li><a th:href="@{/registration}" sec:authorize="hasAuthority('ADMIN')">Add user</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right ">

            <li sec:authorize="isAuthenticated()"><a href="#"> <span class="glyphicon glyphicon-user"  > <span sec:authentication="principal.firstName"></span></span></span></a></li>
            <li sec:authorize="isAuthenticated()"><a href="#" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

        </ul>

    </div>
</nav>
<br>
<br>
<br>


    <div class="panel panel-success">
        <div class="panel heading">Teacher</div>

        <div class="panel-body">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
                <li><a data-toggle="tab" href="#menu1">Courses</a></li>
                <li><a data-toggle="tab" href="#menu2">Grading</a></li>
            </ul>

            <div class="tab-content">

                <div id="home" class="tab-pane fade in active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">

                            <div class="form-group">
                                <label class="control-label" for="id"> Teacher ID </label>
                                <span class="form-control" id="id" th:text="*{teacher.id}"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="firstName"> First Name </label>
                                <span class="form-control" id="firstName" th:text="*{teacher.firstName}"></span>
                                <label class="control-label" for="lastName"> Last Name </label>
                                <span class="form-control" id="lastName" th:text="*{teacher.lastName}"></span>
                                <label class="control-label" for="address"> Address </label>
                                <span id="address" class="form-control" th:text="*{teacher.address}"></span>
                                <label class="control-label" for="city"> City </label>
                                <span id="city" class="form-control" th:text="*{teacher.city}"></span>
                                <label class="control-label" for="country"> Country </label>
                                <span type="tel" id="country" class="form-control" th:text="*{teacher.country}"></span>
                                <label class="control-label" for="tel"> Phone number </label>
                                <span type="tel" id="tel" class="form-control"
                                      th:text="*{teacher.phoneNumber}"></span>
                                <label class="control-label" for="salary"> Salary </label>
                                <span type="tel" id="salary" class="form-control"
                                      th:text="*{teacher.country}"></span>

                            </div>
                            <div class="form-group">
                                <a th:href="@{/tupdate(id=${teacher.id})}"><input type="button" class="form-control btn btn-success" value="Edit teacher"></a>
                            </div>


                        </div>
                    </div>

                    </div>

                </div>

                <div id="menu1" class="tab-pane fade">

                    <div class="panel-body">
                        <table class="table">
                            <thead class="thead">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Credits</th>
                                <th scope="col">Year</th>
                                <th></th>

                            </tr>
                            </thead>

                            <tr th:each="s:${courseList}">
                                <td th:text="${s.courseId}" > </td>
                                <td th:text="${s.courseName}" > </td>
                                <td th:text="${s.creditNumber}" > </td>
                                <td th:text="${s.year}" > </td>

                            </tr>
                        </table>

                    </div>



                </div>


                <div id="menu2" class="tab-pane fade">

                    <div class="panel-body">
                        <div class="col-md-6 col-md-offset-3">
                    <form action="#" th:action="@{/tsave}" th:object="${marks}" method="post">


                        <div class="form-group">
                            <label class="control-label" for="st"> Students </label>
                            <select id="st" class="form-control" th:field="*{st.studentId}" required>
                                <option value="default"></option>
                                <option th:each="c:${studentList}" th:value="${c.studentId}"th:text="${c.studentId+' '+c.firstName+' '+c.lastName}"/>
                            </select>
                        </div>

                        <input  name="id" th:value="${teacher.id}" type="hidden">

                        <div class="form-group">
                            <label class="control-label" for="cs"> Courses </label>
                            <select id="cs"  class="form-control" th:field="*{cs.courseId}" required>
                                <option value="default"></option>
                                <option th:each="c:${courseList}" th:value="${c.courseId}"th:text="${c.courseId+' '+c.courseName}"/>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="m1"> Marks 1 </label>
                            <input id="m1" class="form-control"  th:field="*{marks1}" required>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="m2"> Marks 2 </label>
                            <input id="m2" class="form-control"  th:field="*{marks2}" required>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="season"> Semester </label>
                        <select id="season" th:field="*{season}" value="${marks.season}" >
                            <option th:each="s : ${T(com.CGS.admission.studentAdmission.entities.Semestre).values()}"
                                    th:value="${s}" th:text="${s}" ></option>
                        </select>

                        </div>

                        <div class="col-xs-6">
                            <input type="submit" class="form-control btn btn-success" value="Save"></span></a>
                        </div>

                    </form>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>

</body>
</html>